$about-item-margin-right: 9.5rem;
$about-item-margin-bottom: 2.5rem;
$about-item-margin-left: $about-item-margin-bottom;

.about-item {
  position: absolute;
  bottom: $about-item-margin-bottom;
  left: $about-item-margin-left;
  z-index: 5;
  margin-right: $about-item-margin-right;

  .date {
    line-height: 1;

     span {
       padding-right: 0.125em;
       font-family: 'Francois One', sans-serif;

       &.month {
         opacity: 0.75;
       }

       &.year {
         opacity: 0.5;
         padding-right: 0;
       }
     }
  }

  .description {
    span {
      animation: fadeInUp 1s;

      &:empty {
        display: none;
      }
    }
  }

  .coordinates {
    margin-top: 0.5em;
    margin-bottom: 0.5em;

    .lat {
      padding-right: 0.5em;
    }
  }
}
