$button-margin-top: 1.5rem;
$button-margin-left: $button-margin-top;

.volume-toggle {
  position: absolute;
  top: $button-margin-top;
  left: $button-margin-left;
  padding: 0.25em;
  z-index: 6;
  opacity: 0.5;
  font-size: 1.5rem;
  width: 1.5em;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}

.open-overview {
  position: absolute;
  top: $button-margin-top;
  left: 50%;
  margin-left: -0.8em;
  padding: 0.25em;
  z-index: 6;
  opacity: 0.5;
  font-size: 2rem;
  width: 1.1em;
  cursor: pointer;

  &:hover {
    opacity: 0.75;
  }
}
