header {
  position: absolute;
  z-index: 5;
  width: 100%;
  top: 0.5rem;
  left: 0;
  opacity: 0.5;
  font-size: 1.5rem;
  text-align: center;
  font-family: 'Francois One', sans-serif;

  span{
    opacity: 0.5;
    padding-left: 0.25em;
  }
}
