.overview {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999;
  background-color: $main-color;
  overflow: auto;
  animation-duration: 1s;

  .row {
    display: table;
    height: 100%;

    .column {
      display: table-cell;
      vertical-align: middle;

      h1 {
        opacity: 0.5;
        font-size: 2.5em;
        font-family: 'Francois One', sans-serif;

        span{
          display: block;
          opacity: 0.5;
          font-size: 0.8em;
        }
      }

      button {
        text-transform: uppercase;
      }
    }
  }
}
