$pulsar-size: 15rem;

.pulsar-point {
  left: 50%;
  top: 50%;
  margin-top: -$pulsar-size / 2;
  margin-left: -$pulsar-size / 2;
  width: $pulsar-size;
  height: $pulsar-size;
  position: absolute;
  z-index: 5;
}
