$pulsar-size: 20rem;
$pulsar-center-point-size: 1rem;
$pulsar-center-point-color: rgba(0, 0, 0, 0.5);
$pulsar-wave-duration: 10s;
$pulsar-wave-start-color: rgba(0, 0, 0, 0.5);
$pulsar-wave-end-color: rgba(0, 0, 0, 0);
$pulsar-wave-start-thickness: 0.1rem;
$pulsar-wave-end-thickness: 0.5rem;

.pulsar-point {
  left: 50%;
  top: 50%;
  margin-top: -$pulsar-size / 2;
  margin-left: -$pulsar-size / 2;
  width: $pulsar-size;
  height: $pulsar-size;
  position: absolute;
  z-index: 5;

  .inner {
    position: relative;
    width: 100%;
    height: 100%;

    .center-point {
      position: absolute;
      top: 50%;
      left: 50%;
      width: $pulsar-center-point-size;
      height: $pulsar-center-point-size;
      margin-top: -$pulsar-center-point-size / 2;
      margin-left: -$pulsar-center-point-size / 2;
      border-radius: 50%;
      background: $pulsar-center-point-color;
    }

    .circular-wave {
      top: 50%;
      left: 50%;
      width: $pulsar-center-point-size;
      height: $pulsar-center-point-size;
      margin-top: -$pulsar-center-point-size / 2;
      margin-left: -$pulsar-center-point-size / 2;
      position: absolute;
      opacity: 0;
      border-radius: 50%;
      border: solid $pulsar-wave-start-color $pulsar-wave-start-thickness;

      &.ready {
        opacity: 1;
        transition: border $pulsar-wave-duration, margin-top $pulsar-wave-duration, margin-left $pulsar-wave-duration, width $pulsar-wave-duration, height $pulsar-wave-duration;
      }

      &.running {
        width: 100%;
        height: 100%;
        margin-top: -50%;
        margin-left: -50%;
        border: solid $pulsar-wave-end-color $pulsar-wave-end-thickness;
      }
    }
  }
}
